{% extends 'base.html.twig' %}

{% block title %}Edit Genre{% endblock %}

{% block body %}
    <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
    <div class=" container mb-4 mt-2 pt-2" style="background-color:#287bb5;text-align: center; color: white;font-weight: bold;">
    <h5 style="color: white;font-weight: bold; padding-bottom:5px;">Modifier un genre</h5>
    </div>
    </div>
    <div class="col-3">
    </div>
    </div>

    <div class="container">

    <div class="row">

    <div class="col-3">
    </div>

    <div class="col-6">
    {{ include('genre/_form.html.twig', {'button_label': 'Modifier'}) }}
    <div class="col-4">
    <a class="btn btn-primary btn-sm" href="{{ path('genre_index') }}">back to list</a>
    </div>
    <div class="col-4">
    {{ include('genre/_delete_form.html.twig') }}
    </div>
    </div>

    </div>

    <div class="col-3">
    </div>

    </div>

    </div>
{% endblock %}
